
<footer class="text-center text-white fixed-bottom" style="background-color: #f1f1f1;">
    <div class="text-center text-dark p-1" style="background-color: rgba(0, 0, 0, 0.2);">  
      <section class="mb-4">
        © 2023 Copyright: <a class="text-dark" href="https://pablodutra.com.br/">Pablo Dutra</a>
        <hr>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://twitter.com/pablodutra" role="button" data-mdb-ripple-color="dark"><i class="bi bi-twitter"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://wa.me/5533999605200" role="button" data-mdb-ripple-color="dark"><i class="bi bi-whatsapp"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/pablodutra/" role="button" data-mdb-ripple-color="dark"><i class="bi bi-instagram"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/in/pablo-dutra-aa77a0b3/" role="button" data-mdb-ripple-color="dark"><i class="bi bi-linkedin"></i></a>
      </section>          
    </div>
</footer>
