    <div class="fundo">
        <h1><strong>Dutra</strong> Motors</h1>
        <p class="lead">{{ boasVindas }}</p>
        <hr>
        <ngb-carousel>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../../assets/golf.jpg" alt="Golf">
              </div>
              <div class="carousel-caption">
                <h3>Golf R</h3>
                <p>Descrição do Golf R logo abaixo.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../../assets/polo.jpg" alt="Polo">
              </div>
              <div class="carousel-caption">
                <h3>Polo GTI</h3>
                <p>Descrição do Polo GTI logo abaixo.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../../assets/talagon.jpg" alt="Talagon">
              </div>
              <div class="carousel-caption">
                <h3>Talagon</h3>
                <p>Descrição do Talagon logo abaixo.</p>
              </div>
            </ng-template>
          </ngb-carousel>
          <hr>
    </div>
