<div class="container p-2" *ngIf="isAdmin">
    <hr>
    <div class="card p-2 m-2">
        <div class="card-body">
            <h5 class="card-title"><i class="bi bi-person-circle"></i> Área Segura - Faça seu Login</h5>
            <form>
                <div class="form-group">
                    <label for="usuario"><i class="bi bi-person"></i> Usuário</label>
                    <input type="email" id="usuario" name="usuario" [(ngModel)]="usuario" class="form-control" placeholder="digite seu usuario">
                </div>
                <div class="form-group">
                    <label for="senha"><i class="bi bi-lock"></i> Senha</label>
                    <input type="text" id="senha" name="senha" [(ngModel)]="senha" class="form-control" placeholder="digite sua senha">
                </div>
                <div class="form-group p-2">
                    <button type="submit" class="btn btn-success" (click)="enviar()"><i class="bi bi-send"></i> Enviar</button>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="retorno == 1">
                    Login realizado com <strong>sucesso</strong>.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="retorno == 2">
                    <strong>Erro</strong> ao realizar o login.
                </div>
                <div class="form-group">
                    <label for="resposta"><i class="bi bi-incognito"></i> Resposta da API (Esta parte não aparece numa aplicação real)</label>
                    <textarea class="form-control" id="resposta" name="resposta"  [(ngModel)]="resposta" rows="2"></textarea>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="card p-2 m-2">
        <div class="card-body">
            <h5 class="card-title"><i class="bi bi-arrow-repeat"></i> Área Segura - Troque sua senha</h5>
            <form>
                <div class="form-group">
                    <label for="usuarioAtual"><i class="bi bi-person"></i> Usuário</label>
                    <input type="email" id="usuarioAtual" name="usuarioAtual" [(ngModel)]="usuarioAtual" class="form-control" placeholder="digite seu usuario">
                </div>
                <div class="form-group">
                    <label for="senhaAtual"><i class="bi bi-lock"></i> Senha Atual</label>
                    <input type="text" id="senhaAtual" name="senhaAtual" [(ngModel)]="senhaAtual" class="form-control" placeholder="digite sua senha atual">
                </div>
                <div class="form-group">
                    <label for="senhaNova"><i class="bi bi-lock"></i> Senha Nova</label>
                    <input type="text" id="senhaNova" name="senhaNova" [(ngModel)]="senhaNova" class="form-control" placeholder="digite sua nova senha">
                </div>
                <div class="form-group p-2">
                    <button type="submit" class="btn btn-primary" (click)="trocar()"><i class="bi bi-send"></i> Alterar a senha</button>
                </div>
                <div class="form-group">
                    <label for="respostaTroca"><i class="bi bi-incognito"></i> Resposta da API (Esta parte não aparece numa aplicação real)</label>
                    <textarea class="form-control" id="respostaTroca" name="respostaTroca"  [(ngModel)]="respostaTroca" rows="2"></textarea>
                    <small>1' OR usuario != '1</small>
                </div>
            </form>
        </div>
    </div>
    <hr>    
</div>
<br>
<br>
<br>
<br>
<br>
<br>
